@page
@model Kim_Salon_beauty.Pages.BookModel
<!DOCTYPE html>
<html>
<head>
    <br />
    <br />
    @* <img src="~/css/yyy.jpg" alt="Kim salon" width="1270" height="1400"> *@
    <title>Kim Salon Booking</title>
    @* <style>
        body {
            background-color: violet;
        }
    </style> *@
</head>
<body>
    <h1>Beauty Salon Booking</h1>

    <div>
        <h2>Book Appointment</h2>
        <form method="post">
            <label>Date:</label>
            <input asp-for="Booking.Date" type="date" value="@DateTime.UtcNow.ToString("yyyy-MM-dd")" required/><br />

            <label>Time:</label>
            <input asp-for="Booking.Time" type="time"  value="10:00"required /><br />

            <label>Service Type:</label>
            <input asp-for="Booking.ServiceType" value="Haircut" required /><br />

            <label>Customer Name:</label>
            <input asp-for="Booking.Customer.Name" value="" required /><br />

            <label>Contact Number:</label>
            <input asp-for="Booking.Customer.Contact" value="" required /><br />

            <label>Status:</label>
            <input asp-for="Booking.Status" value="pending" required /><br />

            <button type="submit">Book Now</button>
        </form>
    </div>

    <div>
        <h2>Appointment Details</h2>
        <p>Date: @Model.Booking.Date</p>
        <p>Time: @Model.Booking.Time</p>
        <p>Service Type: @Model.Booking.ServiceType</p>
        <p>Customer Name: @Model.Booking.Customer.Name</p>
        <p>Contact Number: @Model.Booking.Customer.Contact</p>
        <p>Status: @Model.Booking.Status</p>
    </div>

    <div>
        <h2>Contact Information</h2>
        <p>Address: roskilde asgårds palds 34 </p>
        <p>Phone Number: 43535353</p>
    </div>

    <div>
        <h2>Book Online</h2>
        <form method="post" action="/BookOnline">
            <label>Models:</label>
            @foreach (var item in Model.ModelsList.Take(3))
            {
                <div>
                    <input type="checkbox" name="selectedModels" value="@item.ModelName" />
                    <label>@item.ModelName - @item.Price</label>
                </div>
            }

            <label>Contact Number:</label>
            <input type="text" name="contactNumber" required /><br />

            <label>Email:</label>
            <input type="email" name="katak@gmail.com" value ="" required /><br />

            <button type="submit">Book Now</button>
        </form>
    </div>
</body>
</html>